# База данных
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=verification_db
MYSQL_USER=verif_user
MYSQL_PASSWORD=

# Django
DJANGO_SETTINGS_MODULE=django_project.settings
DJANGO_SECRET_KEY=
DEBUG=False
ALLOWED_HOSTS=
